label.error{    color: #F00;    font-weight: bold;}
input.error,select.error,textarea.error {    border: 1px red solid;}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

/* For modal section */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.content-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


.addKey {
  background-color: #4CAF50;
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 5px;
   margin: 4px 2px;
   cursor: pointer;
}

table #keyTbl{
  font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 300px; /* Full width */
    height: 100%;
}

#keyTbl td,th{
  border: 1px solid #dddddd;
  text-align: left;
}

#keyTbl tr:nth-child(even) {
  background-color: #dddddd;
}

.keys{
    background-color: #227c96; /* Blue*/
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

table #eventTbl{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 300px; /* Full width */
    height: 100%;
}

#eventTbl td,th{
    border: 1px solid #dddddd;
    text-align: left;
}

#eventTbl tr:nth-child(even) {
    background-color: #dddddd;
}

.events{
    background-color: #227c96; /* Blue */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.events{
    background-color: #227c96; /* Blue */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

table #AdventureTbl{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100px; /* Full width */
    height: 45%;
}

#AdventureTbl td,th{
    border: 1px solid #dddddd;
    text-align: left;
}

#AdventureTbl tr:nth-child(even) {
    background-color: #dddddd;
}

.adventure{
    background-color: #227c96; /* Blue */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.delete{
    background-color: #940016; /* Red */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.copy{
    background-color: 	#9b59c1; /* Purple */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.liveView{
    background-color: #24ca84; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

#liveViewButton{
    font-size:15px;
    background-color: #24ca84;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: none;
}

#eventHeaderText{
    margin-bottom: 0px;
}

#keyEventDesc{
    margin-top: 0px;
}


#container{
    position: relative;
}

#container #adventureHeaderName{
    margin: 0;
    display: inline-block;
}

#container #editAdventureName{
    margin-left: -10px;
    top: -10px;
    border: none;
    padding: 10px;
    width: 35px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 8px;
}

.textIcon{
    width: 700px;
    height: 200px;
}

.iconContainer{
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center
}

#userInput{
    border: none;
}

#liveBorder{
    border: 3px solid black;
    border-radius: 5px;
}

#keyTableDiv{
    max-height: 25em;
    overflow: auto;
}

#eventTableDiv{
    max-height: 30em;
    overflow: auto;
}

#adventureTableDiv{
    max-height: 30em;
    overflow: auto;
}


